@import "./variables.scss";

.basket {
    display: inline-flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    width: 700px;
}
.selected-salads {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.selected-salads-items {
    display: flex;
}