.molecule-card {
    width: 60px;
    height: 60px;
    background: rgb(126, 207, 241);
    border: 1px solid rgb(139, 144, 57);
    border-radius: 4px;
}
.molecule-number {
    font-size: 10px;
    left: 3px;
}
.molecule-name {
    font-size: 35px;
}